<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDv1xJnG-EApNxP0e6XCsg3MOS1mGdr3cI</string>
	<key>GCM_SENDER_ID</key>
	<string>375208817009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facelogin</string>
	<key>PROJECT_ID</key>
	<string>facereco-9738f</string>
	<key>STORAGE_BUCKET</key>
	<string>facereco-9738f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375208817009:ios:1aee81019b906f069546d0</string>
	<key>DATABASE_URL</key>
	<string>https://facereco-9738f-default-rtdb.firebaseio.com</string>
</dict>
</plist>